<h1>Nelson Blaha</h1>
<div id="links">
	<h2>Links</h2>
	<% Link.all.each do |l| %>
		<div class="link">
			<b><%= link_to l.title, l.url %></b><br>
			<i><%= l.description %></i>
		</div>
	<% end %>
</div>
