<% if user_signed_in? %>
	<p>Signed in as <%= current_user.email %> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></p>
<% else %>
	<p><%= link_to "sign in", new_user_session_path %> or <%= link_to "register", new_user_registration_path %></p>
<% end %>